@charset "EUC-KR";

a:focus {
	outline: none;
}
ul.sidenav {
	font-size: 0.8em;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #005094;
	border-bottom: 1px solid #3373a9;
	border-top: 1px solid #003867;
}
ul.sidenav li a{
	display: block;
	color: #fff;
	text-decoration: none;
	width: 100%;
	padding: 10px 10px 10px 35px;
	background: url(../css/image_files/sidenav_a.gif) no-repeat 5px 7px;
	border-top: 1px solid #3373a9;
	border-bottom: 1px solid #003867;
}
ul.sidenav li a:hover {
	background: #003867 url(../css/image_files/sidenav_a.gif) no-repeat 5px 7px;
	border-top: 1px solid #1a4c76;
}
ul.sidenav li span{	display: none; }
ul.sidenav li a:hover span {
	display: block;
	font-size: 0.8em;
	padding: 10px 0;
}
